// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        td_semic_esc_f12: td_semic_esc_f12 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SEMIC_ESC_F12";
            #binding-cells = <0>;
            bindings = <&ht ESCAPE COLON>, <&ht F12 SEMI>;

            tapping-term-ms = <180>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W           &kp E        &mt LC(LALT) R    &mt LC(LS(LALT)) T    &mt RC(RS(RALT)) Y  &mt RC(RALT) U     &kp I        &kp O       &kp P
&kp A  &ht LEFT_ALT S  &ht LCTRL D  &ht LEFT_SHIFT F  &ht LEFT_GUI G        &ht RIGHT_GUI H     &ht RIGHT_SHIFT J  &ht RCTRL K  &ht RALT L  &td_semic_esc_f12
&kp Z  &kp X           &kp C        &kp V             &kp B                 &kp N               &kp M              &kp COMMA    &kp DOT     &kp FSLH
                                    &tog 1            &kp SPACE             &kp RETURN          &lt 1 BSPC
            >;
        };

        right_layer {
            bindings = <
&kp N5        &kp NUMBER_4    &kp NUMBER_3     &mt RC(LALT) NUMBER_2   &mt LS(LC(LALT)) NUMBER_1    &mt RC(RS(RALT)) NUMBER_6  &mt RS(RC(RALT)) N7   &kp N8        &kp N9          &kp N0
&ht CAPS TAB  &ht LALT MINUS  &ht LCTRL EQUAL  &ht LSHFT LEFT_BRACKET  &ht LGUI RIGHT_BRACKET       &ht RGUI LEFT              &ht RIGHT_SHIFT DOWN  &ht RCTRL UP  &ht RALT RIGHT  &kp SINGLE_QUOTE
&kp LC(LEFT)  &kp RC(RIGHT)   &kp GRAVE        &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS        &kp BACKSLASH              &kp C_VOL_DN          &kp C_MUTE    &kp C_VOL_UP    &kp RC(RG(Q))
                                               &tog 0                  &kp SPACE                    &kp RETURN                 &kp BACKSPACE
            >;
        };

        left_layer {
            bindings = <
&studio_unlock  &kp LBKT  &kp LBRC  &kp RBRC  &trans       &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT  &kp TILDE
&kp EXCL        &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH  &kp GRAVE
&trans          &trans    &trans    &trans    &trans       &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE  &trans
                                    &trans    &trans       &trans     &trans
            >;
        };

        tri_layer {
            bindings = <
&sys_reset   &trans  &trans  &trans      &bt BT_SEL 0    &trans  &trans  &trans  &trans  &sys_reset
&bootloader  &trans  &trans  &trans      &bt BT_SEL 1    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &bt BT_CLR  &bt BT_SEL 2    &trans  &trans  &trans  &trans  &trans
                             &trans      &trans          &trans  &trans
            >;
        };
    };
};
